

@font-face {
    /*font-family: 'MontserratRegular';*/
    font-family: 'HelveticaRegular';
    src: url('../fonts/Helvetica400.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 
html,  
body {
    width: 100%;
    height: 100%;
    padding: 0!important;
    margin-left: 0;   
    /*font-family: 'Poppins', sans-serif;   */
    margin-right: 0;
    background-color: #ffffff;
    font-weight: 400;
    color: #2a2a2a;
    -webkit-font-smoothing: antialiased;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px;
}
p {
    font-size: 16px;   
    margin-bottom: 0px;
}

a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
a:focus, a:hover{
    color: #ED3349;
}
footer a:hover{
        color: #fff;
}

a:hover,
a:focus,
.btn.active,
.btn:active {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    background: #ed3349;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}
.bold-text {   
    font-weight: 700;
}

.nopadding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.clear {
    clear: both;
}



.text-white {
    color: #fff!important;
}

.navbar-fixed-top {
    transition: all 0.4s;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
}
/*btn css*/


.btn-all {
 border-radius: 5px!important;
    min-width: 140px;
    padding: 0px 20px;
    font-weight: 700;
    z-index: 1;
    color: #fff;
    background: #d92d2a;
    border-radius: 0px !important;
    margin-right: 5px;
     height: 42px;
    /*line-height: 42px;*/
    text-transform: uppercase;
}
.btn-bordered {
    border: 2px solid #484848;
    background: transparent;
    color: #484848!important;
}
.btn-all a{
     color: #fff;
     color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
   
}
.btn-black{
    background-color: #484848;
}
.btn-bordered a{
     color: #484848!important;
}
.btn-bordered:hover, .btn-bordered:focus{
    border-color:#ED3349;
    background: transparent!important;
    color: #ed344a;
}
/*preloader css*/

#preloader {
    height: 100vh;
    width: 100vw;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999999999999
}
.loader-block {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@-webkit-keyframes dot-keyframes {
    0% {
        opacity: 0.4;
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: 0.4;
        transform: scale(1, 1);
    }
}
@keyframes dot-keyframes {
    0% {
        opacity: 0.4;
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: 0.4;
        transform: scale(1, 1);
    }
}
.loading-dots {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.loading-dots--dot {
    -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #636466;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 5px;
    box-sizing: border-box;
}
.loading-dots--dot:nth-child(2) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.loading-dots--dot:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/*preloader css end*/

.mob-img {
    display: none!important;
}
.owl-theme .owl-dots .owl-dot {
    background: transparent;
    border: none;
    padding: 0px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #e4e4e4!important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
   background: #3a1e58!important;
}
#owl-main.owl-theme .owl-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.section-space {
    padding: 100px 0px;
}




/*header*/
header{
    position: static;
    width: 100%;
    background: transparent;
    z-index: 2;
    top: 0px;
}
.navbar-nav>li>a {
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    padding: 7px 20px;
    /*letter-spacing: 1px;*/
    font-size: 12px;
    font-weight: 400;
}

.nav-flex {
    justify-content: space-between;
    padding: 10px 30px;      
    /*box-shadow: 0px 15px 15px -15px #b8b8b8;*/
}
.nav>li>a:focus,
.nav>li>a:hover {
    background: transparent;
}
nav#main-navbar {
    margin-bottom: 0px;
}
/*header end*/

/*banner section*/


.main-title {
    color: #ED3349;
    font-size: 64px;
    line-height: 70px;
    font-weight: 800;

}

.section-title {
    color: #f7c23e;
    font-size: 30px;   
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-title.black-color{
color: #2a2a2a;
}
/*slick slider*/
.slick-dots{
    text-align: left;
}
.slick-dots li{
    margin: 10px 2px!important;
    width: 10px!important;
   background:#3A1E58;
   opacity: 0.2;
   border-radius: 3px;
    height: 7px!important;
    transition: all 0.1s;
}
.slick-dots li.slick-active{
    background:#3A1E58;
    opacity: 1;
    width:25px!important;
}
.slick-dots li button{
    width: 10px!important;
    height: 2px!important;
}
.slick-dots li button:before{
    content: none!important;
    height:2px !important;
    width: 5px !important;
    background: #000;
}
.slick-dots{
    position: relative!important;
}



/*new car*/
.ico-nav-top {    
  /*padding: 8px; */
    border-radius: 50% 50% 50% 50%;
    background-color: #212842;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-nav-top {
   display: flex;
    align-items: center;
    margin-right: 10px;
}
.ico-nav-top i {
   line-height: 1;
    font-size: 16px;
    border-radius: 50% 50% 50% 50%;
    color: #f7c23e;

}

.detail-top-nav {
    padding: 0px 10px;
}

.top-line {
  padding: 20px 0px;
    /*background: rgb(240 240 240 / 46%);*/
    background: rgb(251 251 251);
        margin-bottom: 20px;
}
p.description {
    margin: 0;
}
.header-info {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.elementor-icon {
    font-size: 80px;
    text-align: center;
}
.inspection-section{
      background-image: url(../images/back-img.png);
    background-color: #f7c23e;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.social-icons {
  text-align: right; 
  font-size: 1rem;
  color: #000;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.social-icons ul li a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons ul li a i {
  color:#acacac;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-icons ul li a:hover i {
  color: #275066;
}
.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #0b161c;
}


.detail-top-nav span {
    font-weight: 700;
}
span.line {
    display: block;
    height: 4px;
    width: 50px;
    background: #404040;
    margin: 10px 0px 40px;
}
.form-control {
    border-radius: 0px;
    height: 42px;
    border-color: transparent;
}
#main{
    position: relative;
    overflow: hidden;
}
.circle-design {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #f7c23e1f;    
    border-radius: 50% 50% 50% 50%;
    top: 0px;
    right: -36px;
   
}
.po-re{
    position: relative;
}
.elementor-image-box-wrapper {
  display: flex;
    align-items: flex-start;
    margin: 0px 20px 0px 0px;
    padding: 15px;
    margin-top: 37px;
}

figure.elementor-image-box-img {
  width: 30.5%;
    margin-right: 10px;
    /*background: #282828;*/
    border-radius: 50%;
}
figure.elementor-image-box-img img {
    /*opacity: 0;*/
    height: auto;
}
.elementor-image-box-content {
    width: 100%;
    padding: 0px 10px 20px;
}

.elementor-image-box-title {
       font-size: 20px;
    font-weight: 500;
    color: #282828;
margin-bottom: 5px;
}
.elementor-image-box-description {
 color: #393c43;
    /* font-family: "Roboto", Sans-serif; */
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0px;
}
.grey-back{
   background:#fbfbfb;
}

/*testimonial css*/
figure.testimonials__figure {
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px -100px 0px;
    align-self: flex-start;
    order: 1;
    overflow: hidden;
}

.testimonials__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

p.testimonials__comment {
    color: #4c4f57;
   
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45em;
    letter-spacing: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 60px 134px;
    margin: 14px 0px 0px 0px;
    align-self: flex-start;
    text-align: left;
    order: 7;
}

.testimonials__name {
    color: #0c1325;
  
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 134px;
    align-self: flex-start;
    text-align: left;
    order: 3;
}

.testimonials__date {
    color: #8f939b;
  
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: -2px 0px 0px 134px;
    align-self: flex-start;
    text-align: left;
    order: 4;
}

.testimonial_slider .owl-nav button{
    position: absolute;
    width: 40px;
    background-color: transparent!important;
    border:1px solid #000;
    margin: 10px;
    height: 40px;
    border-radius: 50%!important;
   
}
.testimonial_slider .owl-prev{
    bottom: 0px;
    top: auto;
    left: 134px;
    right: auto;
}
.testimonial_slider .owl-next{
    bottom: 0px;
    top: auto;
    left: 184px;
    right: auto;
}
.testimonial_slider .owl-nav button span {
    font-size: 26px;
    line-height: 20px;
    width: 40px;
    color: #000;
}

/*cotact*/
.map-block{
    height: 100%;
}
form.bordered-form .form-control {
    border: 1px solid #d9d5d5;    
}
/*footer*/
footer.bg-footer {
   background: rgb(246 193 62);
    /*color: #fff;*/

}
#button-addon1.btn-link{
    background-color:#ed3349!important;
    color: #fff!important;
}
.navbar-brand img{
    width: 100px;
}
span.highlighted_text {
    color: #f7c23e;
}